<div class="row">
    <div class="col-md-6 offset-md-3 jumbotron">
        <h2>Add Person</h2>
        <form action="/home/add" method="POST">
            <input type="text" name="firstname" placeholder="First Name" class="form-control mt-2" />
            <input type="text" name="lastname" placeholder="Last Name" class="form-control mt-2" />
            <input type="text" name="age" placeholder="Age" class="form-control mt-2" />
            <button class="btn btn-primary btn-block mt-2">Add</button>
        </form>
    </div>
</div>